<h1>Blog List </h1>
<!-- {{ items }} -->
<ul ng-if='items.length > 0'>
    <li ng-repeat='item in items'>
        <a ng-href="/blog/{{ item.id }}" confirm-click="Are you ready?" confirmed-click="/blog/{{ item.id }}" >{{ item.title }} {{ item.publishDate }}</a>
        <!--<confirm-click message="Are you positive?" eq="10 + 1000" post='item'></confirm-click>-->
    </li>
</ul>

<span ng-if='items.length > 3'>{{ items.length }} Items currently</span>
<span ng-if='items.length == 0'>Post coming soon...</span>