<div class="col-sm-8 col-sm-offset-2">
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1>{{ post.title }} <small>{{ post.publishDate }}</small></h1>
        </div>
        <span ng-if="post.image">
            <img class="image-responsive" style="width: 100%;" ng-src="{{ post.image }}" alt="{{ post.title }}" /><br>
        </span>
        <p>{{ post.description }}</p>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h3>Comments</h3>
                <input ng-show="comments.length > 0" type="text" class="form-control" ng-model="query" placeholder="Filter Comments" /><br>
            </div>
        </div>
        <ul ng-show="comments.length > 0">
            <li ng-repeat="comment in comments | filter: query">
                {{ comment.text }} <a ng-href="#" confirm-click confirmed-click="deleteComment(comment)" class="btn btn-sm btn-default">x</a><br>
            </li>
        </ul>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <p style="color: red" ng-if="reply.text">Reply: {{ reply.text }}</p>
                <form ng-submit="addReply()">
                    <input type="hidden" class="form-control" ng-model="reply.id" value="5"/>
                    <textarea class="form-control" ng-model="reply.text"></textarea><br>
                    <input class="btn btn-default" type="submit"/>
                </form>
            </div>
        </div>
    </div>
</div>
</div>