/*[ng-view].ng-enter, [ng-view].ng-leave {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

[ng-view].ng-enter {
    opacity: 0;
}
[ng-view].ng-enter-active {
    opacity: 1;
}
[ng-view].ng-leave {
    opacity: 1;
}
[ng-view].ng-leave-active {
    opacity: 0;
}*/