<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=decive-width, initial-scale=1">
        <title>Try Angular 1.5</title>
        <!-- <script src="./js/andular.min.js" ></script> -->
        <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    </head>
    <body>
        <style>
            .new-class {font-size: 72px;}
            .other-class {
                font-size: 32px;
            }
            .new-class2 {
                font-size: 120px;
            }
        </style>
        <!-- ng-class. Add other-class if name is equal to Dixon, and adds new-class2 if font is equal to 120 -->
        <h1 class="new-class" ng-class="{'other-class': name =='Dixon', 'new-class2': font == 120 }">
            Hello, 
            <span ng-if="name">{{ name }}</span>
            <span ng-if="!name">World</span>
            !
        </h1>
        <input type="text" ng-model="name" />
        <input type="text" ng-model="font" placeholder="Font size" />
    </body>
</html>